*~
.vagrant
*.pyc
*.swp
controller/AWS_DEV_CREDS.txt
controller/resources/distributions/*
controller/bin/flush
.classpath
.project
.settings
*.idea
*.iml
*.tmp
bower_components
node_modules
vagrant/data
nuxeo.io-template.json
